# Data Collection 
The data is scraped from https://droom.in/

In [6]:
#Importing modules required for scraping
from bs4 import BeautifulSoup
import requests

## Description
Here I have created empty lists with the name of the required data and then appended the data to the lists respectively.
This can be done in another way i.e. using a file writer.

The page contains "Load More" button therefore I have used session to scrape through all the pages.

Range in the for loop defines the number pages we want to scrape i.e. page 1 to page 1725.
Calculation behind 1725 is 34530/20.
Where 34530 is the total number of search results and 20 is the number of results on each link.

In [65]:
model_name=[]
price=[]
location=[]
distance=[]
owner=[]

In [66]:
session = requests.session()
header = {
    "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36 Edg/84.0.522.50",
    "referer": "https://droom.in/bikes/used",
    "authority": "droom.in",
    "method": "GET"

}

for i in range (1,1726):
    
    source=session.get('https://droom.in/bikes/used?page={}&tab=grid&bucket=bike&category=Motorcycle%2FBike&condition=used'.format(i),headers=header)
    soup=BeautifulSoup(source.text,'lxml')

    for j in soup.find_all('div',class_='details'):
        model_name.append(j.find('h4',class_='heading')['title'])


        price.append(j.find('div',class_='price').text.strip())


        location.append(j.find('i',class_='ico ico-location-bordered').find_next_sibling().text)


        distance.append(j.find('i',class_='ico ico-km-driven').find_next_sibling().text)


        owner.append(j.find('i',class_='ico ico-user-bordered').find_next_sibling().text)

In [68]:
#Checking if any data is missing
print(len(model_name))
print(len(price))
print(len(location))
print(len(distance))
print(len(owner))

34500
34500
34500
34500
34500

In [70]:
#Creating dictionary to convert the list data in pandas dataframe.
dict_={'Name': model_name,'Price':price, 'Location':location, 'Running':distance, 'Owner':owner}

In [71]:
import pandas as pd

In [72]:
data=pd.DataFrame(dict_)

In [73]:
data.head()

,Name,Price,Location,Running,Owner
0,TVS Star City Plus Dual Tone 110cc 2018,"35,000",Ahmedabad,"17,654 Km",First Owner
1,Royal Enfield Classic 350cc 2017,"1,19,900",Delhi,"11,000 Km",First Owner
2,Triumph Daytona 675R 2013,"6,00,000",Delhi,110 Km,First Owner
3,TVS Apache RTR 180cc 2017,"65,000",Bangalore,"16,329 Km",First Owner
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition 2018,"80,000",Bangalore,"10,000 Km",First Owner

In [78]:
data.to_csv('bike_data.csv')